/TestNinja/bin/Debug/Newtonsoft.Json.xml
/TestNinja/bin/Debug/TestNinja.dll
/TestNinja/bin/Debug/TestNinja.dll.config
/TestNinja/bin/Debug/TestNinja.pdb
/TestNinja/bin/Debug/EntityFramework.dll
/TestNinja/bin/Debug/EntityFramework.SqlServer.dll
/TestNinja/bin/Debug/EntityFramework.SqlServer.xml
/TestNinja/bin/Debug/EntityFramework.xml
/TestNinja/bin/Debug/Newtonsoft.Json.dll
TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
TestNinja.csproj.CopyComplete
TestNinja.csproj.CoreCompileInputs.cache
TestNinja.csproj.FileListAbsolute.txt
TestNinja.csprojResolveAssemblyReference.cache
TestNinja.dll
TestNinja.pdb
TempPE
DesignTimeResolveAssemblyReferencesInput.cache
